body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    margin: 0%;
}

.form {
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

.form h2 {
    text-align: center;
    margin-bottom: 15px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input,
.form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    background: none;
}

button:hover {
    background: #14ea08;
    cursor: pointer;
}

